#blog {
	background: #f8f8f8;
}

.menu {
	background: #fff;
}

.detail-content {
	margin-top: 20px;
	padding: 50px;
	width: 100%;
	max-width: 1200px;
	background: #fff;
	box-sizing: border-box;
}

.detail-content_title {
	font-size: 36px;
}

.detail-content_tip {
	line-height: 3;
	font-size: 14px;
	margin-bottom: 20px;
}

.detail-content_time {
}

.detail-content_intro {
	background: #fafafa;
	line-height: 1.6;
	padding: 20px;
	font-size: 16px;
	color: #333;
}

.detail-content_detail {
	padding: 20px 0 40px;
	line-height: 1.5;
	word-break: break-all;
}

.detail-hr {
	margin: 30px 0;
}

.markdown-body ul {
	list-style: initial;
}

.detail-content-reward {
	font-size: 24px;
}

.detail-content-reward_code {
	display: inline-block;
	margin: 10px 10px 60px;
	width: 160px;
	font-size: 16px;
	line-height: 3;
}

.detail-content_tag {
	color: #000;
}
