#blog {
	background: #f8f8f8;
}

.menu {
	background: #fff;
}

.detail-content {
	margin-top: 20px;
	padding: 50px;
	width: 100%;
	max-width: 1200px;
	background: #fff;
	box-sizing: border-box;
}

.detail-content_title {
	font-size: 28px;
}

.detail-content_tip {
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 45px;
}

.detail-content_time {
}

.detail-content_intro__mh {
	width: 28px;
	margin-right: 18px;
}

.detail-content_intro {
	background: #fafafa;
	line-height: 1.6;
	padding: 30px 50px;
	font-size: 15px;
	color: #555;
	align-items: flex-start;
}

.detail-content_intro__content {
	flex: 1;
}

.detail-content_detail {
	padding: 20px 0 60px;
	line-height: 1.5;
	word-break: break-all;
}

.detail-hr {
	border-top: 0;
	margin: 40px 0 45px;
}

.markdown-body ul {
	list-style: initial;
}

.detail-content-reward {
	font-size: 14px;
}

.detail-content-reward__title {
	font-weight: 600;
	font-size: 18px;
}

.detail-content-reward_code {
	display: inline-block;
	margin: 20px 10px;
	width: 160px;
	font-size: 16px;
	line-height: 3;
}

.detail-content_tag {
	color: #000;
}
