.read-content {
	width: 100%;
	max-width: 1200px;
}
.read-content-search {
	position: relative;
	width: 90%;
	background: #fff;
	margin: auto;
}

.read-content-search_item {
	color: #aaa;
	height: 50px;
	justify-content: center;
	cursor: pointer;
	background: #f6f6f6;
}

.read-content-search_pop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 40px;
	box-sizing: border-box;
	background: #fff;
	display: none;
	box-shadow: 0 0 18px #ccc;
	border-radius: 4px;
}

.read-content-pop-search_item {
	border-bottom: 1px solid #eee;
	padding: 30px 0 50px;
}

.search-input {
	border: none;
	width: 100%;
	outline: none;
	padding: 0 10px;
	height: 40px;
	font-size: 15px;
}

.search-form {
	flex: 1;
	color: #000;
	font-size: 18px;
}

.read-content-tag_list {
	margin-top: 50px;
}

.read-content-tag_item {
	float: left;
	width: 25%;
	margin-bottom: 26px;
}

.read-content-tag_item__wrap {
	width: 90%;
	margin: auto;
	padding: 20px 0;
	cursor: pointer;
	background-color: #f8f8f8;
}

.read-content-tag_count {
	color: #999;
	margin-top: 10px;
	font-size: 14px;
}

.read-content-tag_item__wrap:hover {
	background-color: #484848;
	color: #fff;
}

.read-content-tag_item__wrap:hover .read-content-tag_count {
	color: #fff;
}

.read-content-tag_name {
	font-size: 18px;
	font-weight: 600;
}
.read-content-article {
	margin-top: 20px;
}

.read-content-article_item {
	float: left;
	width: 33.3333%;
	margin-top: 22px;
}

.read-content-article_item__wrap {
	margin: auto;
	width: 95%;
	background: #fff;
	box-sizing: border-box;
	height: 200px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.3s;
	box-shadow: 0 2px 4px #ccc;
	border-radius: 4px;
}

.read-content-article_item__wrap:hover {
	box-shadow: 0 0 36px #ccc;
	transform: translateY(-10px);
}

.read-content-page {
	padding: 30px 0;
	justify-content: center;
}

.read-content-page_btn {
	width: 40px;
	padding: 10px 0;
	margin: 0 80px;
}

.read-content-page_btn img {
	width: 40px;
}

.read-content-article_title {
	font-size: 18px;
	word-break: break-word;
	color: #000;
}

.read-content-article_intro {
	color: #707172;
	font-size: 14px;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	/* autoprefixer: off */
	-webkit-box-orient: vertical;
}

.read-content-article_tip {
	justify-content: space-between;
	font-size: 12px;
	color: #adadad;
}

.read-content-article_tip a {
	color: #000;
}

.read-content-article_empty {
	font-size: 36px;
	color: #999;
	line-height: 10;
}

@media screen and (min-width: 375px) and (max-width: 960px) {
	.read-content-article_item {
		width: 50%;
	}
}

@media screen and (max-width: 500px) {
	.read-content-article_item {
		width: 100%;
		float: none;
	}
	.read-content-tag_item {
		width: 50%;
		margin-bottom: 20px;
	}
}
