body,
html {
	min-width: 1200px;
}

.user-content {
	align-items: center;
}

.user-content_left {
	width: 360px;
	margin-right: 100px;
}

.user-content_right {
	flex: 1;
	padding-bottom: 30px;
	box-sizing: border-box;
}

.user-content_title {
	font-size: 40px;
}

.user-content_info {
	margin: 40px 0;
	font-weight: 600;
}

.user-content_intro {
	font-size: 14px;
	color: #000;
	opacity: 0.5;
	line-height: 1.6;
}

.user-content_skill {
	margin-top: 30px;
}

.user-content-skill_item {
	width: 46%;
	float: left;
	margin-right: 3%;
}

.user-content-skill_item + .user-content-skill_item {
	margin-bottom: 30px;
}

.user-content-skill_name {
	font-size: 13px;
	margin-bottom: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.user-content-skill_line {
	height: 8px;
	background: #adadad;
}
