body,
html {
	min-width: 1200px;
}

.user-content {
	align-items: center;
}

.user-content_left {
	width: 40%;
}

.user-content_right {
	flex: 1;
	padding-bottom: 30px;
	box-sizing: border-box;
}

.user-content_title {
	font-size: 48px;
}

.user-content_info {
	margin: 30px 0 40px;
}

.user-content_intro {
	line-height: 1.5;
}

.user-content_skill {
	margin-top: 30px;
}

.user-content-skill_item {
	width: 46%;
	float: left;
	margin-right: 3%;
}

.user-content-skill_item + .user-content-skill_item {
	margin-bottom: 30px;
}

.user-content-skill_name {
	font-size: 14px;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.user-content-skill_line {
	height: 8px;
	background: rgb(205, 205, 205);
}
