{% extends "common/template.njk" %}

{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
<link rel="stylesheet" href="/public/style/detail.css">
{% endblock %}

{% block content %}

{% import "common/macro.njk" as macro %}
{{ macro.menu('read', menus) }}

<article class="detail-content blog-content">
    <h1 class="text-center detail-content_title">
        {{ detail.title }}
    </h1>
    <aside class="text-center detail-content_tip">
        <span class="detail-content_visit">
            阅读量：{{ detail.visit }}
        </span>
        <span class="detail-content_time">
            创建时间：{{ detail.createdAt | formatTime }}
        </span>
        <span>所属标签：</span>
        {% for tag in detail.tags%}
            <span class="detail-content_tag">
                {{ tag.name }}
            </span>
        {% endfor %}
    </aside>
    <p class="detail-content_intro">
        {{ detail.intro }}
    </p>
    <section class="detail-content_detail">
        {{ detail.renderHtml}}
    </section>
    {% if reward.rewardEnable %}
    <section class="text-center detail-content-reward">
        <p>
            {{ reward.rewardTitle }}
        </p>
        <ul>
            <li  class="detail-content-reward_code">
                <img src="{{ reward.zfbCode | picUrl}}" alt="">
                <span>支付宝</span>
            </li>
            <li class="detail-content-reward_code">
                <img src="{{ reward.wxCode | picUrl}}" alt="">
                <span>微信</span>
            </li>
        </ul>
    </section>
    {% endif %}
</article>

{% endblock %}

{% block script %}
{% endblock %}
