{% extends "common/template.njk" %}

{% block link %}
<link rel="stylesheet" href="/public/style/page.css">
<link rel="stylesheet" href="/public/style/home.css">
{% endblock %}

{% block content %}

{% import "common/macro.njk" as macro %}
{{ macro.menu('home', menus) }}

<article class="home-content page-content blog-content">
    <section class="home-content_left">
        <h3 class="home-content_en">
            {{ homeUserInfo.en }}
        </h3>

        <h1 class="home-content_zh">
            {{ homeUserInfo.zh }}
        </h1>

        <p class="home-content_intro">
            {% if soup %}
            {{ soup }}
            {% else %}
            {{ homeUserInfo.intro }}
            {% endif %}
        </p>
        <ul class="home-content-icon_list flex">
            {% for ico in homeUserInfo.social.ico %}
                    <li class="home-content-icon_item">
                        <a href="{{ ico.value }}" class="home-content-icon_link" target="_blank">
                            <img src="{{ ico.icon | picUrl }}" alt="">
                        </a>
                    </li>
            {% endfor %}
        </ul>
        <ul class="home-content-pic_list flex">
            {% for ico in homeUserInfo.social.pic %}
            <li class="home-content-pic_item text-center">
                    <img src="{{ ico.icon | picUrl }}" alt="">
                <span>{{ ico.value }}</span>
            </li>
            {% endfor %}
        </ul>
        {% if homeUserInfo.resumeUrl %}
        <a href="{{ homeUserInfo.resumeUrl | picUrl }}" download="简历" class="home-content_resume text-center">
            {{ homeUserInfo.resumeAlias }}
        </a>
        {% endif %}
        {% include "common/beian.njk" %}
    </section>
    <section class="home-content_right">
        {% if homeUserInfo.personalFigure %}
        <img src="{{ homeUserInfo.personalFigure.url | picUrl }}" alt="{{ homeUserInfo.personalFigure.title }}">
        {% endif %}
    </section>
</article>



{% endblock %}

{% block script %}

{% endblock %}
