{% extends "common/template.njk" %}

{% block content %}

{% import "common/macro.njk" as macro %}
{{ macro.menu('home', menus) }}

<article class="">
    <section>
        <h3>
            {{ homeUserInfo.en }}
        </h3>

        <h1>
            {{ homeUserInfo.zh }}
        </h1>

        <p>
            {{ homeUserInfo.intro }}
        </p>
        <ul>
            {% for ico in homeUserInfo.social.ico %}
                    <li>
                        <a href="{{ ico.value }}">
                            <img src="{{ ico.icon | picUrl }}" alt="">
                        </a>
                    </li>
            {% endfor %}
        </ul>
        <ul>
            {% for ico in homeUserInfo.social.pic %}
            <li>
                <a href="{{ ico.value }}">
                    <img src="{{ ico.icon | picUrl }}" alt="">
                </a>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ homeUserInfo.resumeUrl | picUrl }}" download="简历">
            {{ homeUserInfo.resumeAlias }}
        </a>
    </section>
    <section>
        {% if homeUserInfo.personalFigure %}
        <img src="{{ homeUserInfo.personalFigure.url | picUrl }}" alt="">
        {% endif %}
    </section>
</article>



{% endblock %}

{% block script %}
<script>
    $(function() {
      console.log($('#blog').get(0));
    })
</script>
{% endblock %}
