<aside class="bei-an_wrap">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402008175" class="bei-an_content">
        <img src="/public/image/beian.png" class="bei-an_image"/>
        沪公网安备 31010402008175号
    </a>
    <a href="https://beian.miit.gov.cn/" target="_blank" class="bei-an_content">沪ICP备20004162号-1</a>
</aside>
